{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' with student_list_class=student_list_class add_student_class=add_student_class edit_or_add=edit_or_add %} 
{% endblock navbar %}
{% block content %}
<div class="px-6 py-0 sm:py-0 lg:px-8">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
      <div class="relative left-1/2 -z-10 aspect-1155/678 w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">{{ heading }}</h2>
      <p class="mt-2 text-lg/8 text-gray-600">{{ sub_heading }}</p>
    </div>
    <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
            <div>
            {{ form.first_name.label_tag }}
            <div class="mt-2.5">
                {{ form.first_name }}
            </div>
            </div>
            <div>
                {{ form.last_name.label_tag }}
                <div class="mt-2.5">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="sm:col-span-2">
                {{ form.student_class.label_tag }}
                <div class="mt-2.5">
                    {{ form.student_class }}
                </div>
            </div>
            <div class="sm:col-span-2">
                {{ form.email.label_tag }}
                <div class="mt-2.5">
                    {{ form.email }}
                </div>
            </div>
            <div class="sm:col-span-2">
                {{ form.mark_subject_1.label_tag }}
                <div class="mt-2.5">
                    {{ form.mark_subject_1 }}
                </div>
            </div>
            <div class="sm:col-span-2">
                {{ form.mark_subject_2.label_tag }}
                <div class="mt-2.5">
                    {{ form.mark_subject_2 }}
                </div>
            </div>
            <div class="sm:col-span-2">
                {{ form.mark_subject_3.label_tag }}
                <div class="mt-2.5">
                    {{ form.mark_subject_3 }}
                </div>
            </div>
            
        </div>
        <div class="mt-10 flex space-x-4">
            <button type="submit" class="w-1/2 rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 cursor-pointer focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                {% if "update-student-details" in request.path %}
                    Update
                {% else %}
                    Add
                {% endif %}
            </button>
            <a href="{% url 'list_student' %}" class="w-1/2 rounded-md bg-white-600 px-3.5 py-2.5 text-center text-sm font-semibold text-black shadow-sm hover:text-red-500 cursor-pointer focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Cancel</a>
        </div>
    </form>
  </div>
  
{% endblock content %}