<nav class="fixed top-0 left-0 w-full z-50 text-white bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div
                class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex items-center text-lg">
                    Book <span class="font-bold ml-1">MANAGEMENT FORM</span>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a
                            href="{% url 'list_book' %}"
                            class="{{ book_list_class }}"
                            aria-current="page">Student List</a>
                        <a
                            href="{% url 'add_book' %}"
                            class="{{ add_book_class }}">
                            {{ edit_or_add }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
                href="#"
                class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white"
                aria-current="page">Book List</a>
            <a
                href="#"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                {{ edit_or_add }}
            </a>
        </div>
    </div>
</nav>